.btn {
  @include inline-flex();
  @include flex-direction();
  @include justify-content(center);
  @include align-items(center);
  border: none;
  height: 40px;
  padding: 1px 25px 0;
  color: #fff;
  border-radius: 40px;
  font-size: 12px;
  line-height: 16px;
  background: #029C3E;
  text-align: center;
  @include lato();
  text-transform: uppercase;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;

  span {
    width: 100%;
    text-align: center;
  }

  &:hover {
    background: #027532;
  }

  &:active {
    background: #02c54f;
  }

  &_2 {
    border: 1px solid #DCE0DB;
    color: #029C3E;
    background: transparent;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    letter-spacing: .5px;

    svg{
      width: 14px;
      height: 14px;
      fill: #029C3E;
      margin-right: 10px;
    }

  }

}