.btn {
  @include inline-flex();
  @include flex-direction();
  @include justify-content(center);
  @include align-items(center);
  height: 40px;
  padding: 1px 25px 0;
  border: none;
  border-radius: 40px;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  @include lato();
  text-transform: uppercase;

  span {
    width: 100%;
    text-align: center;
  }

  &:active {
    background: #02c54f;
  }

  &_1 {
    background-color: #029C3E;
  }

  &_2 {
    border: 1px solid #DCE0DB;
    color: #029C3E;
    background: transparent;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    letter-spacing: .5px;

    svg{
      width: 14px;
      height: 14px;
      fill: #029C3E;
      margin-right: 10px;
    }

  }

  &_3{
    height: 35px;
    border: 1px solid #029C3E;
    color: #029C3E;
    background-color: transparent;
    font-size: 11px;
    font-weight: 700;
  }

  &_4{
    height: 30px;
    padding: 1px 16px 0;
    border: 1px solid #029C3E;
    color: #029C3E;
    background-color: transparent;
    font-size: 12px;
    font-weight: 700;
  }

  &_5{
    padding: 0 34px;
    color: #fff;
    background-color: #DE3831;

    &:active{
      background-color: #FFB612;
    }

  }

}

@media (min-width: $tablet-portrait) {
  .btn {

    &_3{
      padding: 1px 23px 0;
      height: 40px;
      border-width: 2px;
      font-size: 12px;
      letter-spacing: 0.5px;
    }

  }
}

@media (min-width: $desktop) {
  .btn {
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;

    &:hover {
      color: #fff;
      background: #027532;
    }

    &_3{

      &:hover{
        background-color: #029C3E;
        color: #fff;
      }

    }

    &_5{

      &:hover{
        background-color: #FFB612;
      }

    }

  }
}