#content {
  position: relative;
  width: 100%;
  padding: 0 10px 27px;
  font-size: 14px;
  line-height: 22px;
  color: #777A75;
  @include lato();

  &__wrap {
    @include flexbox();
    @include flex-direction(column-reverse);
    @include justify-content();
    @include align-items(flex-start);
    @include flex-wrap(wrap);
    margin-bottom: 22px;
  }

  &__text {
    width: 100%;
    font-size: 14px;
    line-height: 22px;

    h1{
      margin-bottom: 14px;
      font-weight: 700;
      font-size: 25px;
      line-height: 30px;
      color: #323232;
    }

    p{
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

    }

  }

  &__title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 13px;
    color: #DE3831;
    font-size: 14px;
    font-weight: 600;

    h1{
      margin-bottom: 0;
      font-size: 25px;
      color: inherit;
    }

    svg{
      width: 44px;
      height: 44px;
      margin-right: 5.6px;
      fill: #DE3831;
    }

    & > div{
      width: calc( 100% - 50px );
    }

  }

  &__note{
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
  }

  h1 {
    margin: 0 0 12px;
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    color: #323232;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 21px 0 14px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #323232;
  }
  p {
    margin-bottom: 15px;
  }
  ul {
    margin: 0 0 22px 17px;

    li {
      position: relative;
      margin-bottom: 15px;

      &:after {
        position: absolute;
        top: 9px;
        left: -16px;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background: #777A75;
        content: '';
      }

    }

    ul {
      margin: 10px 0 10px 25px;
    }

  }
  ol {
    list-style: decimal;
    margin: 0 0 22px 17px;

    li {
      margin-bottom: 15px;
    }

    ol {
      margin: 10px 0 10px 25px;
    }

  }
  table {
    margin-bottom: 15px;
    font-size: 100%;
    width: auto;
    border: 1px solid #000;
  }
  th,
  td {
    border: 1px solid #000;
    padding: 4px;
    text-align: left;
  }
  th {
    font-weight: bold;
    text-align: center;
  }
  a,
  a font {
    position: relative;
    color: #029C3E;

    &:after {
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 0;
      height: 1px;
      background: #029C3E;
      content: '';
      transition: width 0.3s ease-in-out;
    }

    &:hover {

      &:after {
        width: 100%;
      }

    }

  }
  a:visited,
  a:visited font {
    color: #029C3E;
  }
  a:hover,
  a:hover font {
    color: #029C3E;
    text-decoration: none;
  }
  a:active,
  a:active font {
    color: #000000;
  }
  dl {
    margin: 0 0 15px 0;
  }
  dt {
    font-weight: bold;
    margin-bottom: 2px;
  }
  dd {
    margin-bottom: 5px;
  }
  hr {
    height: 1px;
    border: none;
    color: #aaa;
    background: #aaa;
    margin: 10px 0;
    clear: both;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 20px;
  }

}

@media (min-width: $tablet-portrait) {

  #content {
    padding: 14px 20px 84px;
    line-height: 20px;

    &__wrap{
      flex-flow: row nowrap;
      justify-content: space-between;
      margin-bottom: 31px;
    }

    &__text {
      width: calc( 100% - 290px );
      line-height: 20px;
      order: 1;

      h1{
        margin-bottom: 12px;
      }

      p{
        margin-bottom: 9px;
      }

    }

    &__title{
      margin: 0 0 19px 3px;
      font-size: 17px;

      h1{
        margin-bottom: 10px;
      }

      svg {
        width: 56px;
        height: 56px;
        margin-right: 16px;
      }

      & > div{
        width: calc( 100% - 70px );
      }

    }

    &__note{
      font-size: 14px;
      text-align: left;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 21px 0 21px;
    }
    p {
      margin-bottom: 17px;
    }
    ul {
      margin: -3px 0 21px 17px;
      line-height: 22px;

      li {
        margin-bottom: 20px;

        &:after {
          left: -17px;
        }

      }

    }
    ol {
      margin: -3px 0 21px 17px;
      line-height: 22px;

      li {
        margin-bottom: 20px;
      }

    }
    img {
      display: inline-block;
      vertical-align: top;
      width: auto;
      height: auto;
    }
    .alignleft {
      margin: 20px 20px 47px 0;
      float: left;
    }
    .aligncenter {
      display: block;
      margin: 20px auto 47px;
    }
    .alignright {
      margin: 20px 0 47px 20px;
      float: right;
    }
    .alignnone {
      width: 100%;
      margin: 47px 0;
    }

    #main-title span{
      padding: 0 30px;
    }

  }

  .content {

    &__inner {
      position: relative;
      border-bottom: 1px solid #DCE0DB;

      &:last-child {
        border-bottom: none;
      }

    }

  }

}

@media (min-width: $desktop) {

  #content {
    padding: 36px calc( 50% - 569px ) 45px;
    font-size: 15px;
    line-height: 22px;

    &__text{
      width: calc( 100% - 315px);
      padding-top: 0;
      font-size: 15px;
      line-height: 22px;

      h1{
        margin-bottom: 17px;
        font-size: 36px;
        line-height: 36px;
      }

      p{
        margin-bottom: 17px;
      }

    }

    &__title{
      margin: 4px 0 22px 0;
      font-size: 20px;

      h1{
        font-size: 36px;
        margin-bottom: 10px;
      }

      svg {
        width: 67px;
        height: 67px;
        margin-right: 10px;
      }

      & > div{
        width: calc( 100% - 70px );
      }

    }

    &__note {
      font-size: 15px;
    }

    h1 {
      margin-bottom: 14px;
      font-size: 36px;
      line-height: 42px;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 24px;
      line-height: 29px;
    }
    ul {
      margin: 0 0 15px 17px;

      li {

        &:last-child {
          margin-bottom: 0;
        }

      }

    }
    ol {
      margin: 0 0 15px 17px;

      li {

        &:last-child {
          margin-bottom: 0;
        }

      }

    }

    p {
      margin-bottom: 15px;
    }

  }

  .content {

    &__inner {
      padding: 9px 0 25px 288px;
      margin: 0 0 30px;

      >* {

        &:first-child {
          position: absolute;
          top: -10px;
          left: 0;
          width: 280px;
        }

      }

    }

  }

}