#contact-us {
  position: relative;
  width: 100%;
  padding: 0 10px 29px;

  &__wrap {
    @include flexbox();
    @include flex-direction(column-reverse);
    @include justify-content();
    @include align-items(flex-start);
    @include flex-wrap(wrap);
    margin-bottom: 31px;
  }

  &__content {
    width: 100%;
    padding-right: 4px;
    font-size: 14px;
    line-height: 22px;

    h1{
      margin-bottom: 14px;
      font-weight: 700;
      font-size: 25px;
      line-height: 30px;
      color: #323232;
    }

    p{
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

    }

  }

  &__info {
    @include flexbox();
    @include flex-direction(column-reverse);
    @include justify-content();
    @include align-items(flex-start);
    @include flex-wrap(wrap);

    > div {
      width: 100%;
    }

  }

  &__form {

    &-field {
      margin: 0 0 15px;
    }

    h2{
      margin-bottom: 20px;
      color: #323232;
      font-size: 18px;
    }

    button[type=submit] {
      margin-bottom: 11px;
    }

  }

  &__note {
    display: none;
    color: #E11E16;
    font-size: 13px;
    line-height: 15px;

    &.visible {
      display: block;
    }

  }

}

.contact-us {

  &__form {

    &-field {
      margin-bottom: 15px;
    }

  }

}

input[type="text"].site__input,
input[type="password"].site__input,
textarea.site__input,
input[type="email"].site__input,
input[type="tel"].site__input,
input[type="phone"].site__input,
input[type="number"].site__input {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 40px;
  padding: 7px 14px 10px;
  background: #fff;
  border: 1px solid #DCE0DB;
  border-radius: 3px;
  color: #323232;
  font-size: 13px;
  line-height: 13px;
  @include lato();
  font-weight: 400;
  transition: border 0.3s ease-in-out;

  &::-webkit-input-placeholder {
    color: #999D96;
  }
  &:-moz-placeholder {
    color: #999D96;
  }
  &.placeholder {
    color: #999D96;
  }

  &:focus {
    border-color: #000;
  }
  &.not-valid {
    border-color: #DE3831;
    color: #DE3831;

    &::-webkit-input-placeholder {
      color: #DE3831;
    }
    &:-moz-placeholder {
      color: #DE3831;
    }
    &.placeholder {
      color: #DE3831;
    }

  }

}
textarea.site__input {
  height: 200px;
  margin-bottom: 15px;
  padding: 6px 14px;
  color: #323232;
  font-size: 14px;
  line-height: 22px;
}

@media (min-width: $tablet-portrait) {

  #contact-us {
    padding: 15px 20px 84px;

    &__wrap{
      flex-flow: row nowrap;
      justify-content: space-between;
      margin-bottom: 29px;
    }

    &__content {
      width: calc( 100% - 290px );
      order: 1;

      h1{
        margin-bottom: 12px;
      }

      p{
        margin-bottom: 9px;
      }

    }

    &__info {
      @include flex-direction(column);
    }

    &__form {
      margin-bottom: 25px;
      padding-right: 3px;

      button[type=submit] {
        margin-right: 22px;
      }

    }

    &__note {
      vertical-align: middle;

      &.visible {
        display: inline-block;
      }

    }

  }

  .contact-us {

    &__form {

      &-fields {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
      }

      &-field {
        width: 48.4%;
        margin-bottom: 25px;
      }

    }

  }

  input[type="text"].site__input,
  input[type="password"].site__input,
  textarea.site__input,
  input[type="email"].site__input,
  input[type="tel"].site__input,
  input[type="phone"].site__input,
  input[type="number"].site__input{
    padding: 10px 10px 11px;
    font-size: 14px;
  }
  textarea.site__input {
    height: 150px;
    margin-bottom: 25px;
    padding: 7px 9px 11px;
  }

}

@media (min-width: $desktop) {

  #contact-us {
    padding: 30px calc( 50% - 569px ) 45px;

    &__content{
      width: calc( 100% - 315px);
      padding-top: 4px;
      padding-right: 0;
      font-size: 15px;
      line-height: 21px;

      h1{
        margin-bottom: 17px;
        font-size: 36px;
        line-height: 36px;
      }

      p{
        margin-bottom: 17px;
      }

    }

    &__info {
      @include flex-direction(row);
      @include justify-content(space-between);

      > div {
        width: 24%;

        &:first-child {
          width: 72%;
          padding-right: 35px;
        }

      }

    }

    &__wrap{
      margin-bottom: 31px;
    }

    &__form {

      h2 {
        font-size: 24px;
        margin-bottom: 28px;
      }

    }

  }

}