#daily-bonuses {
  width: 100%;
  padding: 20px 10px 29px;

  &__info{
    margin-bottom: 29px;
    font-size: 14px;
    line-height: 20px;

    h2{
      margin-bottom: 2px;
      color: #323232;
      font-size: 18px;
      font-weight: 700;
      line-height: 22px;
    }

    span{
      display: block;
      margin-bottom: 7px;
    }

  }

  &__text{
    margin-bottom: 17px;
  }

  &__wrap{

    li{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      padding: 18px 19px 15px 14px;
      border: 1px solid #E0E0E0;
      border-radius: 4px;
      background-color: #F8F8F8;
      color: #323232;
      font-size: 12px;
      text-transform: uppercase;

      h3{
        text-transform: none;
        color: #029C3E;
        font-size: 16px;
      }

    }

  }

  &__intro{
    @include flexbox();
    @include flex-direction(column);
    @include justify-content();
    @include align-items(flex-start);
    @include flex-wrap(wrap);
    margin: 0 10px 5px;

    #search-bonus{
      height: 216px;
      margin-bottom: 20px;
    }

  }

}

.daily-bonuses{

  &__new{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    padding: 5px 7px;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    line-height: 15px;
    background-color: #029C3E;
    text-align: center;
  }

}

@media (min-width: $tablet-portrait) {
  #daily-bonuses {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 20px 14px;

    &__wrap{
      width: calc( 100% - 304px );

      li{
        margin-bottom: 17px;
        padding: 22px 19px 19px 19px;
        line-height: 25px;
      }

    }

    &__info{
      width: 100%;
      margin-bottom: 24px;

      span{
        margin-bottom: 12px;
      }

    }

    &__intro{
      position: relative;
      flex-flow: row wrap;
      justify-content: space-between;
      margin: 4px 20px -4px;

      #main-title{
        position: absolute;
        top: 0;
        right: 0;
        margin-bottom: 30px;
      }

      #intro__content{
        width: calc( 100% - 295px );
        margin-bottom: 0;
        grid-area: text;
      }

      #intro__text{
        height: 290px;
      }

      #search-bonus{
        height: 236px;
        margin-top: 128px;
        order: 2;

        .search-bonus__item{
          padding-bottom: 6px;
        }

      }

    }

  }

  .daily-bonuses{

    &__new{
      padding: 3px 7px 9px;
    }

  }

}


@media (min-width: $tablet-landscape) {

  #daily-bonuses {

    &__intro{

      #intro__text{
        height: 300px;
      }

    }

  }

}

@media (min-width: $desktop) {
  #daily-bonuses {
    flex-wrap: nowrap;
    padding: 80px calc( 50% - 569px) 25px;

    &__info{
      width: 260px;
      padding-top: 4px;
      font-size: 15px;
      line-height: 22px;

      h2{
        margin-bottom: 13px;
        font-size: 36px;
        line-height: 1;
      }

      span{
        margin-bottom: 18px;
      }

    }

    &__wrap{
      width: calc( 100% - 603px);
      margin-right: 2px;

      li{
        margin-bottom: 54px;
        line-height: 30px;
        padding: 26px 58px 20px 59px;

        h3{
          font-size: 20px;
        }

      }

    }

    &__intro{
      margin: 23px calc(50% - 569px) 27px;

      #intro__content{
        padding-top: 4px;
        line-height: 23px;

        h1{
          margin-bottom: 15px;
        }

        p{
          margin-bottom: 12px;
        }

      }

      #intro__text {
        height: 284px;
      }

      #search-bonus{
        margin-top: 145px;
      }

    }

  }

  .daily-bonuses{

    &__new{
      position: relative;
      top: -2px;
      width: 60px;
      height: 60px;
      padding: 5px 13px;
      line-height: 16px;
    }

  }

}