#games {
  width: 100%;
  padding: 30px 10px 18px;

  &__info{
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 20px;

    h2{
      margin-bottom: 2px;
      color: #323232;
      font-size: 18px;
      font-weight: 700;
      line-height: 22px;
    }

    span{
      display: block;
      margin-bottom: 7px;
    }

  }

  &__text{
    margin-bottom: 17px;
  }

  &__wrap{

    /*li{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      padding: 18px 19px 15px 14px;
      border: 1px solid #E0E0E0;
      border-radius: 4px;
      background-color: #F8F8F8;
      color: #323232;
      font-size: 12px;
      text-transform: uppercase;

      h3{
        text-transform: none;
        color: #029C3E;
        font-size: 16px;
      }

    }*/

  }

}

.games {

  &__item{
    display: block;
    margin-bottom: 16px;
    color: #777A75;
    font-size: 12px;
    line-height: 22px;
    -webkit-transition: visibility .3s ease, opacity .3s ease;
    transition: visibility .3s ease, opacity .3s ease;

    h3{
      color: #029C3E;
      font-size: 14px;
    }

    span{
      display: block;
      letter-spacing: .3px;
    }

    &.new{
      opacity: 0;
      visibility: visible;
    }

  }

  &__img{
    margin-bottom: 7px;

    img{
      display: block;
      width: 100%;
    }

  }

  &__btn {
    display: none;
  }

  &__demo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    padding: 0 10px;
    color: #fff;
    font-size: 10px;
    line-height: 12px;
    background-color: #DE3831;
    box-shadow: 0 2px 5px rgba(0,0,0,.4);
    text-align: center;
  }

}

@media (min-width: $phone-landscape) {
  #games {

    &__wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: stretch;
    }

  }

  .games{

    &__item{
      width: calc( 33% - 8px );
      margin: 0 15px 25px 0;

      &:nth-child( 3n ){
        margin-right: 0!important;
      }

    }

  }
}

@media (min-width: $tablet-portrait) {
  #games {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 41px 20px 46px;

    &__wrap{

      /*li{
        margin-bottom: 17px;
        padding: 22px 19px 19px 19px;
        line-height: 25px;
      }*/

    }

    &__info{
      width: 100%;
      margin-bottom: 30px;

      span{
        margin-bottom: 12px;
      }

    }

  }

  .games{

    &__item{
      margin: 0 15px 25px 0;
    }

  }

}

@media (min-width: $desktop) {
  #games {
    flex-wrap: nowrap;
    padding: 80px calc( 50% - 585px) 64px calc( 50% - 569px);

    &__info{
      width: 260px;
      padding-top: 4px;
      font-size: 15px;
      line-height: 22px;

      h2{
        margin-bottom: 13px;
        font-size: 36px;
        line-height: 1;
      }

      span{
        margin-bottom: 18px;
      }

    }

    &__wrap{
      width: calc( 100% - 289px);
      margin-right: 2px;

      /*li{
        margin-bottom: 54px;
        line-height: 30px;
        padding: 26px 60px 20px 59px;

        h3{
          font-size: 20px;
        }

      }*/

    }

  }

  .games {

    &__item {
      width: calc( 33% - 10px );
      margin-bottom: 24px;

      h3{
        -webkit-transition: color .3s ease;
        transition: color .3s ease;
      }

      strong{
        letter-spacing: .1px;
      }

      &:hover{

        h3{
          color: #FFB612;
        }

        .games__img:after,
        .games__btn{
          opacity: 1;
          visibility: visible;
        }

      }

    }

    &__img{
      position: relative;
      margin-bottom: 9px;

      &:after{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
        z-index: 1;
        content: '';
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity .3s ease, visibility .3s ease;
        transition: opacity .3s ease, visibility .3s ease;
      }

    }

    &__btn{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 40px;
      width: 132px;
      border-radius: 20px;
      color: #fff;
      font-size: 12px;
      text-transform: uppercase;
      background-color: #029C3E;
      text-align: center;
      z-index: 2;
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: opacity .3s ease, visibility .3s ease;
      transition: opacity .3s ease, visibility .3s ease;
    }

  }
}