#get-in-touch {
  margin: 0 0 30px;

  h2{
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 22px;
    color: #323232;
  }

  &__mail {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 19px;
    font-size: 14px;
    line-height: 18px;
    color: #029C3E;

    svg{
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: -1px;
      width: 16px;
      height: 17px;
      margin-right: 7px;
      fill: #029C3E;
    }

  }

}

@media (min-width: $tablet-portrait) {

  #get-in-touch {

    h2{
      margin-bottom: 26px;
    }

    &__mail {
      margin-bottom: 24px;
      padding: 1px 0;
      background-size: 20px;

      svg{
        width: 20px;
        height: 18px;
      }

    }

  }

}

@media (min-width: $desktop) {

  #get-in-touch {

    h2{
      margin-bottom: 28px;
      font-size: 24px;
    }

    &__mail {
      margin-bottom: 22px;
      font-size: 15px;

      svg{
        top: -3px;
        width: 21px;
        height: 19px;
      }

      &:after {
        position: absolute;
        left: 30px;
        bottom: 0;
        width: 0;
        height: 1px;
        background: #029C3E;
        content: '';
        transition: width 0.3s ease-in-out;
      }

      &:hover {

        &:after {
          width: calc(100% - 30px);
        }

      }

    }

  }

}