#logo {
  display: block;
  width: 120px;
  margin-top: 6px;

  img{
    display: block;
    max-width: 100%;
  }

  .st0{enable-background:new;}
  .st1{fill:#323232;}
  .st2{fill:#3A3738;}
  .st3{fill:#ED1C24;}
  .st4{fill:#00A650;}
  .st5{fill:#FFD700;}
  .st6{fill:#242122;}
  .st7{fill:#0066B3;}

}

@media (min-width: $desktop) {
  #logo {
    width: 174px;
  }
}