#mobile-menu {

  &-btn{
    position: relative;
    width: 50px;
    height: inherit;
    background-color: transparent;
    transition: background-color .3s ease;

    svg{
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: 10px;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 22px;
      fill: #029C3E;

      + svg{
        width: 13px;
        margin-left: 0;
        opacity: 0;
        fill: #fff;
      }

    }

    &.close{
      background-color: #029C3E;

      svg{
        opacity: 0;

        + svg{
          opacity: 1;
        }

      }

    }

  }

}

@media (min-width: $tablet-portrait) {
  #mobile-menu {

    &-btn{
      width: 50px;
      margin-right: 20px;
    }

  }
}

@media (min-width: $desktop) {
  #mobile-menu {

    &-btn{
      display: none;
    }

  }
}