.nice-checkbox {
  display: block;
  margin-bottom: 16px;
  user-select: none;
  -webkit-transition: height .3s ease, margin-bottom .3s ease;
  transition: height .3s ease, margin-bottom .3s ease;

  &:last-child{
    margin-bottom: 0;
  }

  input[ type = checkbox ] {
    position: absolute;
    clip: rect(0, 0, 0, 0);

    &:checked + span {

      .nice-checkbox__svg{

        svg{

          &:first-child{
            opacity: 0;
          }

          & + svg{
            opacity: 1;
          }

        }

      }

    }

    &:disabled + span {
      cursor: default;
      opacity: .5;
    }

  }

  span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: #777A75;
    cursor: pointer;
  }

  &__svg{
    position: relative;
    width: 12px;
    height: 12px;
    margin-right: 11px;

    svg{
      position: absolute;
      top: 0;
      left: 0;
      width: 12px;
      height: 12px;
      fill: #777A75;
      transition: opacity .3s ease;

      &:first-child{
        opacity: 1;
      }

      & + svg{
        width: 14px;
        opacity: 0;
        fill: #029C3E;
      }

    }

  }

  &.hide{
    overflow: hidden;
    height: 0;
    margin-bottom: 0;
  }

}

@media (min-width: $desktop) {
  .nice-checkbox {
    margin-bottom: 16px;

    &__svg{
      width: 15px;
      height: 15px;
      margin-right: 10px;

      svg{
        width: 16px;
        height: 16px;

        & + svg {
          width: 16px;
        }

      }
    }

  }
}