#online-casinos {
  background-color: #F8F8F8;
  padding: 31px 10px 9px;

  &__title{
    margin-bottom: 20px;
    color: #323232;
    font-size: 18px;
    line-height: 22px;
  }

}

.online-casinos {

  &__items {
    @include flexbox();
    @include flex-direction();
    @include justify-content();
    @include align-items();
    @include flex-wrap(wrap);
    margin-bottom: 10px;
    padding-top: 20px;
    border-top-width: 4px;
    border-style: solid;
    color: #777A75;
    font-size: 14px;
    line-height: 20px;

    p {
      margin-bottom: 16px;
    }

    &_best{
      border-top-color: #1C5DA6;
    }

    &_new{
      border-top-color: #029C3E;

      .online-casinos__content-captions{

        > div {

          &:nth-child(3) {
            span:nth-child(2){
              display: none;
            }
          }

        }

      }

    }

    &_live{
      border-top-color: #FFB612;
    }

    &_blacklist{
      border-top-color: #323232;
    }

    &_all{
      border-top-color: #DE3831;
    }

  }

  &__head {
    width: 100%;
    margin-bottom: 23px;

    &-title {
      position: relative;
      margin-bottom: 9px;
      padding: 16px 20px 14px 60px;
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
      color: #323232;

      .casino-count {
        position: absolute;
        top: 0;
        left: 0;
      }

    }

    p{
      margin-bottom: 15px;
    }

  }

  &__content {
    width: 100%;
    -webkit-transition: height .3s ease;
    transition: height .3s ease;

    &-captions {
      @include flexbox();
      @include flex-direction();
      @include justify-content();
      @include align-items();
      border-bottom: 1px solid #DCE0DB;
      font-weight: 700;
      font-size: 13px;
      color: #323232;

      > div {
        padding: 0 0 6px;

        &:nth-child(1) {
          width: 54%;
        }
        &:nth-child(2) {
          width: 19%;
          text-align: center;
        }
        &:nth-child(3) {
          width: 15%;
          text-align: center;
        }
        &:nth-child(4) {
          display: none;
        }

      }

    }

    &-body {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: #777A75;

      li {
        display: grid;
        grid-template-areas:  "info score zar link"
                              "bonus score zar link";
        grid-template-columns: 1fr 15% 20% 9%;
        padding: 8px 0 10px;
        border-bottom: 1px solid #DCE0DB;
        opacity: 1;
        -webkit-transition: opacity .3s ease;
        transition: opacity .3s ease;

        > div {
          &:nth-child(1) {
            grid-area: info;
          }
          &:nth-child(2) {
            grid-area: score;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
          }
          &:nth-child(3) {
            display: flex;
            justify-content: center;
            align-items: center;
            grid-area: zar;

            svg{
              position: relative;
              top: -1px;
              left: -3px;
            }

            time{
              width: 75px;
              margin-left: 9px;
            }

          }
          &:nth-child(4) {
            grid-area: bonus;

            span{
              display: block;
              font-weight: 400;
            }

            svg{
              display: inline-block;
              vertical-align: middle;
              position: relative;
              top: -1px;
              fill: #029C3E;
              width: 13px;
              height: 13px;
            }

          }
          &:nth-child(5) {
            grid-area: link;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        &:last-child{
          border-bottom: none;
        }

        &.new{
          opacity: 0;
        }

      }

      p {
        margin: 0 0 1px;
      }

    }

  }

  &__pic {
    display: none;
  }

  &__name {
    display: inline-block;
    margin: 0 0 7px;
    font-size: 13px;
    line-height: 15px;
    font-weight: 700;
    color: #029C3E;
  }

  &__success{

    svg{
      fill: #029C3E;
      width: 20px;
      height: 15px;
    }

  }

  &__failure{

    svg{
      fill: #B50505;
      width: 15px;
      height: 15px;
    }

  }

  &__play{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #029C3E;

    svg{
      position: relative;
      left: 2px;
      width: 11px;
      height: 14px;
      fill: #F8F8F8;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }

    span{
      display: none;
    }

    &_warning{
      background-color: #323232;

      svg{
        left: 0;
        width: 12px;
        height: 12px;
        fill: #fff;
        -webkit-transform: rotate(0);
        transform: rotate(0);
      }

    }

    &_attention{
      background-color: transparent;

      svg{
        left: 0;
        width: 24px;
        height: 24px;
        fill: #FC2E2E;
        -webkit-transform: rotate(0);
        transform: rotate(0);
      }

    }

  }

  &__label-new{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 8px;

    img{
      display: block;
      max-width: 83px;
      margin-right: 10px;
    }

    span{
      display: block;
      padding: 0 8px;
      border-radius: 8px;
      color: #fff;
      font-size: 10px;
      font-weight: 400;
      text-transform: uppercase;
      background-color: #029C3E;
    }

  }

}

@media (min-width: $tablet-portrait) {

  #online-casinos {
    padding: 40px 20px 1px;

    &__title {
      margin-bottom: 15px;
    }

  }

  .online-casinos {

    &__head {
      margin-bottom: 30px;

      &-title {
        margin-bottom: 14px;
        padding: 19px 20px 19px 70px;
        font-size: 18px;
        line-height: 22px;

      }

    }

    &__content{

      &-captions{
        font-size: 14px;

        > div {
          padding-bottom: 8px;

          &:nth-child(1) {
            width: 41%;
          }
          &:nth-child(2) {
            width: 6%;
          }
          &:nth-child(3) {
            width: 9%;
            padding-right: 3px;
          }
          &:nth-child(4) {
            display: block;
          }

        }

      }

      &-body {
        font-size: 14px;

        li{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 4px 0 3px;

          > div {
            &:nth-child(1) {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              width: 40%;
            }
            &:nth-child(2) {
              width: 8%;
            }
            &:nth-child(3) {
              width: 8%;

              svg{
                left: -6px;
              }

            }
            &:nth-child(4) {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              width: 33%;
              line-height: 20px;

              svg{
                margin-right: 4px;
              }

            }
            &:nth-child(5) {
              width: 11%;
            }
          }

        }

      }

    }

    &__items {
      margin-bottom: 40px;
      padding-top: 29px;
    }

    &__pic {
      display: block;
      max-width: 80px;
      margin-right: 28px;

      img{
        display: block;
        width: 100%;
      }

    }

    &__info{
      display: flex;
      flex-direction: column;
      width: calc( 100% - 108px );
    }

    &__name{
      margin-bottom: 3px;
      font-size: 14px;
      font-weight: 400;
    }

    &__label-new{

      img{
        margin-right: 7px;
      }

    }

    &__play{
      width: 80px;
      height: 30px;
      border-radius: 15px;

      span{
        display: block;
        color: #fff;
        font-size: 12px;
        text-transform: uppercase;
      }

      svg{
        display: none;
      }

      &_warning{

        span{
          display: inline-block;
          margin: 1px 2px 0 5px;
        }

        svg{
          display: inline-block;
          width: 13.7px;
          height: 15px;
        }

      }

      &_attention{
        background-color: #FC2E2E;

        span{
          display: inline-block;
          margin: 3px 0 0 5px;
        }

        svg{
          display: inline-block;
          top: 1px;
          width: 15px;
          height: 15px;
          fill: #fff;
        }

      }

    }

    &__label-new{
      margin-bottom: 0;
    }

  }

}

@media (min-width: $desktop) {

  #online-casinos {
    padding: 84px calc( 50% - 569px) 40px;

    &__title{
      margin-bottom: 24px;
      font-size: 36px;
      line-height: 1;
    }

  }

  .online-casinos {

    &__items {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding-top: 41px;
      font-size: 15px;
      line-height: 22px;

      p {
        margin-bottom: 17px;
      }

      &_new{

        .online-casinos__content-captions{

          > div {

            &:nth-child(1) {
              width: 35%;
            }
            &:nth-child(2) {
              width: 8%;
            }
            &:nth-child(3) {
              width: 13%;
              padding-left: 16px;
              text-align: left;

              span{
                display: none;

                &:nth-child(2){
                  display: block;
                }

              }

            }

          }

        }

        .online-casinos__content-body li {

          > div {

            &:nth-child(1) {
              width: 34%;
            }
            &:nth-child(2) {
              width: 10%;
            }
            &:nth-child(3) {
              justify-content: flex-start;
              width: 13%;

              time{
                width: auto;
                margin-left: 7px;
              }

            }


          }

        }

      }

    }

    &__head {
      width: 254px;

      &-title{
        margin-bottom: 20px;
        font-size: 24px;
      }

    }

    &__content{
      width: calc( 100% - 288px );
      padding-top: 16px;

      &-captions{

        & > div {
          padding-bottom: 11px;

          &:nth-child(1) {
            width: 38%;
          }
          &:nth-child(2) {
            width: 7%;
          }
          &:nth-child(3) {
            width: 11%;
            padding-right: 3px;
          }
          &:nth-child(4) {
            width: 20%;
            padding-left: 10px;
          }

        }

      }

      &-body {

        li{

          > div {
            &:nth-child(1) {
              width: 36.5%;
            }
            &:nth-child(2) {
              width: 10%;
            }
            &:nth-child(3) {
              width: 10.5%;

              svg{
                left: -14px;
              }

            }
            &:nth-child(4) {
              width: 34%;
              padding-left: 2px;

              svg{
                margin-right: 7px;
                width: 15px;
                height: 15px;
              }

            }
            &:nth-child(5) {
              width: 9%;
            }
          }

          &:last-child{
            border-bottom: 1px solid #DCE0DB;
          }

        }

      }

    }

    &__failure svg{
      left: -16px;
    }

    &__play{
      -webkit-transition: background-color .3s ease;
      transition: background-color .3s ease;

      &:hover{
        background-color: #FFB612;
      }

    }

  }

}