#page-info {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content();
  @include align-items(flex-start);
  @include flex-wrap(wrap);
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px 21px;

  &:after{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    background: #ed1c24;
    background: -moz-linear-gradient(left, #ed1c24 0%, #ed1c24 20%, #00a650 20.5%, #00a650 40%, #ffd700 40.5%, #ffd700 60%, #242122 60.5%, #242122 80%, #0066b3 80.5%, #0066b3 100%);
    background: -webkit-linear-gradient(left, #ed1c24 0%,#ed1c24 20%,#00a650 20.5%,#00a650 40%,#ffd700 40.5%,#ffd700 60%,#242122 60.5%,#242122 80%,#0066b3 80.5%,#0066b3 100%);
    background: linear-gradient(to right, #ed1c24 0%,#ed1c24 20%,#00a650 20.5%,#00a650 40%,#ffd700 40.5%,#ffd700 60%,#242122 60.5%,#242122 80%,#0066b3 80.5%,#0066b3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed1c24', endColorstr='#0066b3',GradientType=1 );
    content: '';
  }

  &__content{
    width: 100%;
    font-size: 14px;
    line-height: 20px;

    h1{
      margin: 0 0 12px;
      font-weight: 700;
      font-size: 25px;
      line-height: 30px;
      color: #323232;
    }

    p{
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

    }

  }

  &__text{
    height: 60px;
    overflow: hidden;
    -webkit-transition: height .3s ease;
    transition: height .3s ease;
  }

  &__more{
    color: #029C3E;
  }

  &__main-title {
    @include inline-flex();
    @include flex-direction();
    @include justify-content(center);
    @include align-items(center);
    position: relative;
    width: 100%;
    min-height: 98px;
    margin-bottom: 20px;
    padding: 15px 30px;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 0 2px rgba(0,0,0,0.6);
    font-size: 26px;
    line-height: 30px;
    background: url("../img/africanian-flag.png") no-repeat center;
    background-size: cover;
    text-transform: uppercase;
    text-align: center;

    &:after {
      position: absolute;
      top: 10px;
      left: 13px;
      right: 13px;
      bottom: 10px;
      background: rgba(255,255,255,0.8);
      content: '';
    }

    span {
      position: relative;
      z-index: 1;
    }

  }

}

@media (min-width: $tablet-portrait) {
  #page-info {
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 15px 20px 21px;

    &__content{
      width: calc( 100% - 274px );
      order: 1;

      h1{
        margin-bottom: 14px;
      }

    }

    &__text{
      height: 40px;
    }

    &__main-title {
      width: 274px;
      padding: 8px 45px 15px;
      font-size: 23px;
      line-height: 28px;
      order: 2;
    }

  }
}

@media (min-width: $desktop) {
  #page-info {
    padding: 34px calc( 50% - 569px ) 45px;
    border-bottom: 4px solid #DCE0DB;

    &:after{
      width: 1140px;
      bottom: -4px;
      left: 50%;
      transform: translateX(-50%);
    }

    &__content{
      width: calc( 100% - 315px);
      line-height: 21px;

      h1{
        margin-bottom: 17px;
        font-size: 36px;
        line-height: 36px;
      }

    }

    &__text {
      height: 100px;
    }

    &__main-title {
      min-height: 124px;
      margin: 53px 0 0;
      padding: 8px 45px;
      font-size: 28px;
      line-height: 34px;

      &:after {
        top: 12px;
        left: 14px;
        right: 14px;
        bottom: 12px;
        border: 1px solid #fff;
      }

    }

    &__more:hover{
      text-decoration: underline;
    }

  }
}