#search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: inherit;
  position: relative;

  &__btn-open{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: #029C3E;

    svg{
      width: 14px;
      fill: #fff;
    }

  }

  &__form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    width: 0;
    visibility: hidden;
    opacity: 0;
    padding: 7px 10px;
    overflow: hidden;
    background-color: #F8F8F8;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;

    input{
      width: calc( 100% - 40px );
      height: 35px;
      padding: 2px 28px 0;
      color: #323232;
      @include lato;
      font-size: 14px;
      background-color: #E0E0E0;
      border: 1px solid #E0E0E0;
      border-radius: 5px;
    }

    &.show{
      visibility: visible;
      opacity: 1;
      z-index: 2;
    }

  }

  &__btn-find{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50px;
    top: 7px;
    height: 35px;
    width: 28px;
    padding: 3px 0 0 3px;
    border: none;
    background-color: transparent;
    cursor: default;

    svg{
      width: 13px;
      height: 13px;
      fill: #323232;
    }

  }

  &__btn-cancel{
    display: block;
    position: relative;
    width: 39px;
    height: 35px;
    padding: 5px 12px 0 0;
    border: none;
    background-color: transparent;

    svg{
      width: 16px;
      height: 17px;
      fill: #029C3E;
    }

  }

  &__btn-update{
    position: absolute;
    top: 7px;
    right: 10px;
    width: 39px;
    height: 35px;
    padding: 4px 0 0 6px;
    border: none;
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s ease, visibility .3s ease;
    transition: opacity .3s ease, visibility .3s ease;

    &.show{
      opacity: 1;
      visibility: visible;
    }

    svg{
      width: 12px;
      height: 12px;
      fill: #000;
    }

  }

  &__popup{
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 10px;
    padding: 22px 15px 17px;
    border-radius: 3px;
    background-color: #fff;
    font-size: 12px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s ease, visibility .3s ease;
    transition: opacity .3s ease, visibility .3s ease;

    &.show{
      opacity: 1;
      visibility: visible;
    }

    &-links{
      display: block;
      margin-top: 10px;
      padding-top: 18px;
      border-top: 1px solid #dce0db;
      color: #029C3E;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
    }

    &-no-results{
      padding-bottom: 7px;
      color: #283746;
      font-size: 14px;
      text-align: center;
    }

  }

  &__preload {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    z-index: 99;
    -webkit-transition: opacity .3s ease, visibility .3s ease;
    transition: opacity .3s ease, visibility .3s ease;

    &-element {
      display: inline-block;
      width: 2em;
      height: 2em;
      pointer-events: none;
      border: 1px solid #283746;
      border-radius: 50%;
      -webkit-animation: 1s loader linear infinite;
      animation: 1s loader linear infinite;
      position: relative;

      &:before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        top: -.30em;
        left: 50%;
        border: .30em solid #45d1de;
        border-radius: 50%;
      }

    }

  }

  &__popup.load #search__preload{
    opacity: 1;
    visibility: visible;
  }

}

.search {

  &__popup{

    &-title{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin: 12px 0 4px;
      padding: 17px 0 0;
      border-top: 1px solid #dce0db;
      color: #83868a;

      h2{
        font-weight: 400;
      }

      &:first-child{
        margin-top: 0;
        padding-top: 0;
        border-top: 0;
      }

    }

    &-item{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 8px 0 9px;
      color: #283746;
      -webkit-transition: background-color .3s ease, color .3s ease;
      transition: background-color .3s ease, color .3s ease;

      i{
        max-width: 80%;
        font-size: 14px;
        font-style: normal;
      }

      span{
        position: relative;
        top: 2px;
        color: #029C3E;
        font-size: 12px;
        text-transform: uppercase;
      }

    }

    &-wrap{
      line-height: 15px;
    }

  }

}

@media (min-width: $tablet-portrait) {
  #search {
    width: 70px;

    &__form{

      input{
        width: calc( 100% - 50px);
        padding-left: 51px;
      }

    }

    &__btn-find{
      justify-content: flex-end;
      width: 42px;

      svg{
        width: 15px;
        height: 15px;
      }

    }

    &__btn-update{
      right: 30px;
    }

    &__popup{
      padding: 23px 14px 12px 15px;

      &-links{
        margin-top: 12px;
        padding: 18px 19px 3px;
      }

      &-no-results{
        padding: 0 19px;
      }

    }

  }

  .search {

    &__popup {

      &-title{
        margin-top: 11px;
        padding-top: 17px;
      }

      &-item{
        padding: 8px 0 9px;
      }

    }

  }

}

@media (min-width: $desktop) {
  #search {

    &__btn-find {
      top: 17px;
      left: 0;
      width: 47px;
    }

    &__btn-cancel{
      display: none;
    }

    &__btn-update {
      top: 17px;
      right: 10px;
    }

    &__form{
      width: 915px;
      right: 0;
      padding: 15px 0;

      input{
        width: 100%!important;
        height: 40px;
        font-size: 15px;
        padding: 0 40px 0 58px;
      }

    }

    &__popup{
      top: calc( 100% - 8px );
      right: 0;
      left: auto;
      width: 915px;
      margin-top: 0;
    }

  }

  .search {

    &__popup {

      &-item{
        -webkit-transition: color .3s ease;
        transition: color .3s ease;

        span{
          -webkit-transition: color .3s ease;
          transition: color .3s ease;
        }

        &:hover{
          color: #fff;
          background-color: #45d1de;

          span{
            color: #fff;
          }

        }

      }

    }

  }
}