#site {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(space-between);
  @include align-items();
  position: relative;
  overflow: hidden;
  z-index: 1;
  min-width: 320px;
  min-height: 100%;
  background: #fff;
  color: #777A75;
  @include lato();
  font-size: 14px;
  line-height: 22px;

  &:after{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    content: '';
    -webkit-transition: opacity .3s ease, visibility .3s ease;
    transition: opacity .3s ease, visibility .3s ease;
  }

  &.hide{

    &:after{
      opacity: 1;
      visibility: visible;
    }

  }

  &.hide-for-filter{

    &:after{
      opacity: 1;
      visibility: visible;
      z-index: 3;
    }

  }

  &__header {
    margin-bottom: 15px;
    border-bottom: 1px solid #DCE0DB;
    background-color: #F8F8F8;
    z-index: 2;

    &-layout{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 50px;
    }

  }

  &__content {
    min-height: calc( 100vh - 320px );
    overflow: hidden;
  }

  &__footer {
    width: 100%;
    background-color: #F8F8F8;
    text-align: center;

    &-layout {
      position: relative;
      width: 100%;
      max-width: 1180px;
      padding: 30px 10px 63px;
      margin: 0 auto;
    }
    &-menu {
      font-size: 14px;
      line-height: 17px;

      ul {
        @include flexbox();
        @include flex-direction();
        @include justify-content();
        @include align-items();
        @include flex-wrap(wrap);
        max-width: 350px;
        margin: 0 auto;
        width: 100%;
        padding: 0 9px 11px 35px;
        text-align: left;

        li {
          width: 42.5%;
          margin: 0 0 20px;

          &:nth-child(even) {
            width: 50%;
          }

        }

      }

      a {
        position: relative;
        color: #777A75;
        transition: color 0.3s ease-in-out;

        &:after {
          position: absolute;
          left: 0;
          bottom: -1px;
          width: 0;
          height: 1px;
          background: #000;
          content: '';
          transition: width 0.3s ease-in-out;
        }

        &:hover {
          color: #000;

          &:after {
            width: 100%;
          }

        }

      }

    }
    &-logo {
      display: none;
    }
    &-copyright {
      position: absolute;
      bottom: 11px;;
      left: 0;
      right: 0;
      margin: 0 !important;
      text-align: center;
      color: #969A95;
      font-size: 12px;
      line-height: 15px;
    }

    .social {

      a {
        margin: 0 6px;
      }

    }

  }

}

@media (min-width: $tablet-portrait) {

  #site {

    &__header{
      box-shadow: 0 2px 5px rgba(0,0,0,.1);

      &-layout{
        height: 50px;
      }

    }

    &__content {
      min-height: calc( 100vh - 224px );
    }

    &__footer {
      border-top: 1px solid #DCE0DB;

      &-layout {
        @include flexbox();
        @include flex-direction();
        @include justify-content(space-between);
        @include align-items(center);
        padding: 41px 10px 27px 329px;
      }
      &-menu {
        width: 55%;
        font-size: 13px;
        line-height: 17px;

        ul {
          max-width: 100%;
          margin: 0;
          padding: 0;
          text-align: left;

          li {
            width: 42.5%;
            margin: 0 0 10px;

            &:nth-child(even) {
              width: 50%;
            }

          }

        }

      }
      &-logo {
        display: block;
        position: absolute;
        top: 41px;
        left: 20px;
        width: 173px;
      }
      &-copyright {
        bottom: 9px;
        left: 20px;
        right: auto;
        text-align: left;
      }

      .social {
        width: 40%;
        padding-bottom: 7px;

        a {
          margin: 0 6px;
        }

      }

    }

  }

}

@media (min-width: $desktop) {

  #site {
    font-size: 15px;
    line-height: 22px;

    &__header{
      box-shadow: 0 3px 9px rgba(0,0,0,.1);

      &-layout{
        height: 70px;
        padding: 0 calc( 50% - 570px );
      }

    }

    &__content {
      min-height: calc( 100vh - 235px );
    }

    &__footer {

      &-layout {
        @include align-items(flex-start);
        padding: 41px 20px 27px 440px;
      }
      &-menu {
        width: 70%;
        font-size: 14px;
        line-height: 17px;

        ul {

          li {
            width: 47%;
            margin: 0 0 10px;

            &:nth-child(even) {
              width: 50%;
            }

          }

        }

      }
      &-logo {
        display: block;
        position: absolute;
        top: 41px;
        left: 20px;
        width: 173px;

        .cls-1 {
          fill: #323232;
          font-size: 11px;
          @include lato;
          font-weight: 700;
          letter-spacing: 0.05em;
        }

        .cls-2 {
          fill: #3a3738;
        }

        .cls-3 {
          fill: #ed1c24;
        }

        .cls-4 {
          fill: #00a650;
        }

        .cls-5 {
          fill: gold;
        }

        .cls-6 {
          fill: #242122;
        }

        .cls-7 {
          fill: #0066b3;
        }

      }
      &-copyright {
        bottom: 9px;
        left: 20px;
        right: auto;
        text-align: left;
      }

      .social {
        width: 25%;
        padding-bottom: 7px;
        text-align: right;

        a {
          margin: 0 0 0 17px;
        }

      }

    }

  }

}

