#sort{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 47%;
  height: 40px;
  border: 1px solid #DCE0DB;
  border-radius: 4px;

  &.show{

    #sort__select{

      svg {
        transform: rotate(-180deg);
      }

    }

    #sort__popup{
      opacity: 1;
      visibility: visible;
    }

  }

  &__select{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 2px;
    color: #323232;
    font-size: 12px;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
    text-align: left;
    z-index: 2;

    i{
      font-style: normal;
    }

    svg{
      position: relative;
      top: -1px;
      width: 9.5px;
      height: 5.8px;
      margin-left: 5px;
      fill: #323232;
      -webkit-transition: transform .3s ease;
      transition: transform .3s ease;
    }

  }

  &__popup {
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;
    margin-top: 5px;
    border: 1px solid #dce0db;
    border-radius: 4px;
    font-style: normal;
    font-size: 13px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: opacity .3s ease, visibility .3s ease;

    label{
      display: flex;
      align-items: center;
      text-align: left;
      border-bottom: 1px solid #DCE0DB;

      &:last-child{
        border-bottom: none;
      }

      span{
        display: block;
        height: 100%;
        width: 100%;
        padding: 9px 19px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        transition: background-color .3s ease, color .3s ease;
      }

      input{
        display: none;

        &:checked + span{
          color: #029C3E;
          background-color: #f8f8f8;
          cursor: text;
        }

      }

    }

  }

}

@media (min-width: $tablet-portrait) {

  #sort{

    &__select{
      padding-top: 4px;
    }

  }

}

@media (min-width: $desktop) {

  #sort{
    width: 100%;

    &__select{
      justify-content: space-between;
      padding: 0 15px;
      font-size: 15px;
      font-weight: 400;
      text-transform: none;
      cursor: pointer;
    }

    &__popup {
      z-index: 3;

      label{

        &:hover span{
          color: #029C3E;
          background-color: #f8f8f8;
        }

      }

    }


  }

}